/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* Colors */

  /* Neutral */
  --clr-dark-desaturated-blue: 29, 30, 53;
  --clr-soft-red: 244, 124, 87;

  /* Gradient */
  --clr-soft-violet: 175, 103, 233;
  --clr-soft-blue: 101, 101, 231;

  /* Text */
  --clr-very-dark-grayish-blue: 74, 75, 94;
  --clr-dark-grayish-blue: 120, 120, 135;

  /* Dividers */

  --clr-light-grayish-blue: 231, 231, 233;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  font-size: 12px;
  font-family: 'Kumbh Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  display: grid;
  place-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  z-index: 1;
}
